* {
    padding: 0;
    margin: 400;
    gap: 50px;
    box-sizing: border-box;
    font-family: "", sans-serif;
  }

  body {
    height: 100vh;
    background: linear-gradient(612deg, #000000, #00fffb);
    color: #333;
  }

  html {
    font-size: 24px;
    width: 9vmin;
    height: 14vmin;
  }

  .wrapper {
    position: absolute;
    top: 20%;
    right: 30%;  
  }

  .container {
    width: 69vmin;
    height: 69vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3vmin;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .button-option {
    background: #58fefb;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    color: #000000;
    box-shadow: 9999px rgba(0, 0, 0, 0.1);
  }

  .popup {
    background: linear-gradient(12deg, #00fffb, #d161ff);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
  }

  #message {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
  }

  .popup.hide {
    display: none;
  }
